{% extends 'layout.html' %}

{% block title %}Delete User{% endblock title %}


{% block main %}
  <div>
    <form action="/user/{{user.id}}/delete" method="post">
      <label for="username">Username: </label><br>
      <input id="username" type="text" name="username" placeholde="Username" value={{user.username}}>
      <br><br>
      <label for="email">Email: </label> <br>
      <input id="email" type="email" name="email" placeholder="email" value="{{user.email}}">
      <br><br>
      <input type="submit" value="Delete">
    </form>
  </div>
{% endblock main %}