{% extends 'layout.html' %}

{% block title %}User List{% endblock title %}

{% block main %}
  <h2>User List</h2>
  {% for user in users %}
    <ul style="list-style: none; border: 1px solid black;">
      <li>UserId: <strong>{{ user.id }}</strong></li>
      <li>Username: <strong>{{ user.username }}</strong></li>
      <li sytle="margin-bottom: 20px;">Email: <strong>{{ user.email }}</strong></li>
    </ul>
    <button class="btn"><a href="user/{{user.id}}/delete">Delete</a></button>
    <button class="btn"><a href="{{ url_for('user_edit', user_id=user.id) }}">Edit</a></button>

  {% endfor %}
{% endblock main %}